
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'><link rel="stylesheet">



  <nav>
  <div class="wrapper">
    <div class="logo">
      <a href=""><img src="/logo.png" alt="Lumière Holistique"></a>
    </div>

    
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">
    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
      <li><a href="./">Acceuil</a></li>
      <li><a href="/sante">Espace Santé</a></li>
      <li><a href="/formation">Formation</a></li>
      <li><a href="/rdv">Rdv & accompagnement</a></li>
      <li><a href="/contact">Contact</a></li>
<!-- Si pas connecté -->
<li *ngIf="!isLoggedIn">
  <a href="/login" class="login-btn">Connexion</a>
</li>

<!-- Si connecté -->
<li *ngIf="isLoggedIn" class="user-menu">
  <a href="/mycours">{{ userName }}</a>
  <button (click)="logout()" class="logout-btn">Déconnexion</button>
</li>

      
           </ul>
    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav>

<div class="body-text">

</div>
  


