<header>
    <nav class="navbar">
      <ul class="nav-list">
        <li><a href="#" class="nav-item">Accueil</a></li>
        <li><a href="#" class="nav-item">Espace Santé & Bien-être</a></li>
        <li><a href="#" class="nav-item">Espace Formation</a></li>
        <li><a href="#" class="nav-item">Prise de rendez-vous & accompagnement</a></li>
        <li><a href="#" class="nav-item">Blog & Témoignages</a></li>
        <li><a href="#" class="nav-item">Contact & Support</a></li>
      </ul>
      <button class="btn-inscription">Inscription</button>
    </nav>
  </header>