<app-header></app-header>

<body>

<div class="container">
    <h1 class="main-title">Rendez-vous & Accompagnement</h1>

    <div class="card">
        <h2>RDV Diagnostic Offert</h2>
        <p>Bienvenue chez Lumière Holistique.  
           Profite d’un moment d’échange pour discuter de tes préoccupations et établir un bilan ensemble 
           afin de voir comment je peux t’accompagner.</p>
        <a href="https://calendly.com/halima-lumiere-holistique/15min?month=2025-03" class="button">Prendre rendez-vous</a>
    </div>

    <div class="card">
        <h2>Accompagnement</h2>
        <p>Un accompagnement personnalisé pour t’aider à avancer sur ton chemin avec bienveillance et sérénité.</p>
        <a href="#" class="button">Prendre rendez-vous</a>
    </div>

    <div class="card">
        <h2>Consultation Spécifique</h2>
        <p>Une séance dédiée à une problématique précise pour t’offrir des solutions adaptées et éclairées.</p>
        <a href="#" class="button">Prendre rendez-vous</a>
    </div>
</div>

</body>

<app-footer></app-footer>
