<app-header></app-header>

<main>
    <div class="container">
        <h1 class="main-title">Rendez-vous & Accompagnement</h1>
        <div *ngFor="let appointment of rdv" class="card">
            <img [src]="environment.apiUrl + '/' + appointment.image" [alt]="appointment.title" class="card-img">

            <h2>{{ appointment.title }}</h2>
            <p>{{ appointment.description }}</p>
            <a [href]="appointment.link" class="button">Prendre rendez-vous</a>
        </div>
    </div>

    <div class="shape shape1"></div>
    <div class="shape shape2"></div>
    <div class="shape shape3"></div>
</main>

<app-footer></app-footer>