<div class="actions">
  <h2>Actions rapides</h2>
  <button><a href="/">Acceuil</a></button> 
  <button><a href="/creeRdv">Créer RDV</a></button>
  <button><a href="/creeArticle">Créer Article</a></button>
  <button><a href="/creeFormation">Créer Formation</a></button>
  <button><a href="/creeAnnuaire">Créer Annuaire</a></button>
  <button><a href="/creeVideoPodcast">Créer Vidéo/Podcast</a></button>
  <button><a href="/admin">Admin</a></button>
</div>

<div class="container">
  <h2>Ajouter un Article</h2>

  <form [formGroup]="articleForm" (ngSubmit)="submitForm()">
    <label for="title">Titre:</label>
    <input id="title" formControlName="title" required />

    <label for="description">Description:</label>
    <textarea id="description" formControlName="description"></textarea>

    

    <label for="content">Contenu:</label>
<editor
  apiKey="uwjq2jdjhfexfgqtwrvz8p8n0gd6c1z7ghy4vdvwfsss2k4s"
  formControlName="content"
  [init]="{
    height: 400,
    menubar: true,
    plugins: [
      'advlist autolink lists link image charmap print preview anchor',
      'searchreplace visualblocks code fullscreen',
      'insertdatetime media table paste code help wordcount'
    ],
    toolbar:
      'undo redo | formatselect | bold italic underline | \
      alignleft aligncenter alignright alignjustify | \
      bullist numlist outdent indent | removeformat | help'
  }"
></editor>


    <label for="image">Image:</label>
    <input type="file" id="image" (change)="onImageSelected($event)" />

    <div *ngIf="imagePreview" class="image-preview">
      <img [src]="imagePreview" alt="Aperçu de l'image" />
    </div>

    <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

    <button type="submit">Ajouter</button>
  </form>
</div>
