<app-header></app-header>

<main class="vp-main">
  <h1 class="vp-title">Vidéos & Podcasts</h1>

  <div *ngIf="videosPodcasts.length > 0; else loading">
    <div class="vp-grid">
      <div *ngFor="let video of videosPodcasts" class="vp-card">
        <video *ngIf="video.file" controls>
          <source [src]="environment.apiUrl + '/' + video.file" type="video/mp4" />
          Votre navigateur ne supporte pas la vidéo.
        </video>
        <div class="vp-card-content">
          <h2>{{ video.title }}</h2>
          <p>{{ video.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <p>Aucune vidéo disponible</p>
  </ng-template>
</main>

<app-footer></app-footer>
