<app-header></app-header>

<div class="container">
  <h2>Crée un RDV</h2>

  <form [formGroup]="appointmentForm" (ngSubmit)="submitForm()">
    <label for="title">Titre:</label>
    <input id="title" formControlName="title" required />
    <div *ngIf="appointmentForm.get('title')?.invalid && appointmentForm.get('title')?.touched" class="error">
      Le titre est requis.
    </div>

    <label for="description">Description:</label>
    <textarea id="description" formControlName="description"></textarea>

    <label for="image">Image:</label>
    <input type="file" id="image" (change)="onImageSelected($event)" />
    <div *ngIf="imagePreview" class="image-preview">
      <img [src]="imagePreview" alt="Aperçu de l'image" />
    </div>

    <label for="link">Lien:</label>
    <input id="link" formControlName="link" />

    <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

    <button type="submit">Ajouter</button>
  </form>
</div>
