<app-header></app-header>

<main>
  <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <h1>Contactez Nous :</h1>

    <input
      name="name"
      type="text"
      class="feedback-input"
      placeholder="Nom"
      [(ngModel)]="contact.nom"
      required
    />

    <input
      name="email"
      type="email"
      class="feedback-input"
      placeholder="Email"
      [(ngModel)]="contact.email"
      required
    />

    <textarea
      name="text"
      class="feedback-input"
      placeholder="Description"
      [(ngModel)]="contact.message"
      required
    ></textarea>

    <input type="submit" value="Envoyer" [disabled]="contactForm.invalid" />

<p *ngIf="messageEnvoye" class="success">Message envoyé avec succès,nous vous recontacterons dans les plus bref délais.</p>
<p *ngIf="erreurEnvoi" class="error">Une erreur est survenue.</p>

  </form>


  <div class="shape shape1"></div>
  <div class="shape shape2"></div>
  <div class="shape shape3"></div>
</main>

<app-footer></app-footer>
