<app-header></app-header>

<main>
    <div class="container">
        <h1 class="main-title">Articles et conseils pratiques</h1>
        
        <div *ngFor="let article of articles" class="card">
            <img [src]="environment.apiUrl + '/' + article.image" [alt]="article.title" class="card-img">

            <h2>{{ article.title }}</h2>
            <p>{{ article.description }}</p>
            <a [routerLink]="['/article', article.id]" class="button">Lire l'article</a>
        </div>
    </div>

    <div class="shape shape1"></div>
    <div class="shape shape2"></div>
    <div class="shape shape3"></div>
</main>

<app-footer></app-footer>
