    <app-header></app-header>
    <!-- <button class="create-rdv-btn" ><a href="/mycours">Mes Cours</a></button> -->
    <main>
        <div class="container">
            <h1 class="main-title">Espace formations</h1>

            <div *ngFor="let formation of formations" class="card">
                <img [src]="environment.apiUrl + '/' + formation.image" [alt]="formation.title" class="card-img">
                <h2>{{ formation.title }}</h2>
                <p>{{ formation.description }}</p>
                <a [routerLink]="'/formation/' + formation.id" class="button">Voir plus</a>
            </div>
        </div>



        <div class="shape shape1"></div>
        <div class="shape shape2"></div>
        <div class="shape shape3"></div>
    </main>

    <app-footer></app-footer>
