<app-header></app-header>

<div class="container">
  <h2>Crée un RDV</h2>

  <form [formGroup]="appointmentForm" (ngSubmit)="submitForm()">
    <label for="title">Titre:</label>
    <input id="title" formControlName="title" required placeholder="Titre du rendez-vous" />
    <div *ngIf="appointmentForm.get('title')?.invalid && appointmentForm.get('title')?.touched" class="error">
      Le titre est requis.
    </div>

    <label for="description">Description:</label>
    <textarea id="description" formControlName="description" placeholder="Description du rendez-vous"></textarea>

    <label for="image">Image URL:</label>
    <input id="image" formControlName="image" placeholder="https://exemple.com/image.jpg" />

    <label for="link">Lien:</label>
    <input id="link" formControlName="link" placeholder="Lien associé au RDV" />

    <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

    <button type="submit">Ajouter</button>
  </form>
</div>
