<app-header></app-header>

<!-- Notification message -->
<div *ngIf="message"
     [ngClass]="{'success-msg': messageType === 'success', 'error-msg': messageType === 'error'}"
     class="notification">
  {{ message }}
</div>

<div class="auth-container">
  <div class="form-box">
    <h2>Mot de passe oublié</h2>
    <form (ngSubmit)="onSubmit()">
      <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required />
      <button type="submit">Réinitialiser</button>
    </form>
    <p>Vous vous souvenez de votre mot de passe ? <a href="/login">Se connecter</a></p>
  </div>
</div>
