<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/103ed24470.js" crossorigin="anonymous"></script>
    <title>Responsive Footer</title>
</head>

<body>
    <footer>
        <div class="container">
            <div class="col-1">
                <img src="/logo.png" alt="">
                <p>lumiere holistique
                </p>
            </div>
            <div class="col-2">
                <h3>Liens utiles</h3>
                <ul>
                    <li><a href="./">Acceuil</a></li>
                    <li><a href="">Espace Santé & Bien-être</a></li>
                    <li><a href="">Espace Formation</a></li>
                    <li><a href="">Rendez-vous & accompagnement</a></li>
                    <li><a href="">Blog & Témoignages</a></li>
                    <li><a href="">Contact & Support</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h3>Services</h3>
                <ul>
                    <li><a href="#">test</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h3>Newsletter</h3>
                <form>
                    <i class="far fa-envelope"></i>
                    <input type="email" placeholder="Enter your email" required>
                    <button><i class="fas fa-arrow-right"></i></button>
                </form>
                <div class="social-icons">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/lumiere_holistique/"><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-2">
            <p>© 2025 | Tout droit réservé</p>
        </div>
    </footer>
</body>

</html>