<app-header></app-header>

<main>
  <div class="container">
    <div *ngIf="article">

      <img [src]="environment.apiUrl + '/' + article.image" [alt]="article.title" class="article-img">

      <h1>{{ article.title }}</h1>
      <p>{{ article.content }}</p>
    </div>
  </div>
</main>

<div class="comment-section">

  <div *ngIf="comments.length > 0">
    <h3>Commentaires :</h3>
    <div *ngFor="let com of comments" class="comment">
      <p><strong>{{ com.author }}</strong> :</p>
      <p>{{ com.content }}</p>
      <small>{{ com.createdAt | date:'short' }}</small>
    </div>
  </div>
  <h2>Laisser un commentaire</h2>
  <form (submit)="submitComment(); $event.preventDefault()">
    <label for="author">Nom :</label>
    <input id="author" [(ngModel)]="comment.author" name="author" required>

    <label for="content">Message :</label>
    <textarea id="content" [(ngModel)]="comment.content" name="content" required></textarea>

    <button type="submit">Publier</button>
  </form>

</div>


<app-footer></app-footer>
