<app-header></app-header>

<main>
  <div class="content">
    <h1 class="title">Lumière Holistique</h1>

    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/25UnKPW7Wag?si=BWnq8O5VNGsBK5kd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <h1 class="title">À propos</h1>

    <div class="presentation-container">
      <img src="/Halima.png" alt="Halima" class="logo">

      <div class="card">
        <p class="description">
          Infirmière DIPLÔMÉE D'ÉTAT, j’ai travaillé pendant des années dans différentes équipes pluridisciplinaires 
          et des associations accompagnant des personnes en précarité physique, psychique et matérielle.
          Avec mon expérience du terrain, je ne voulais plus seulement penser les plaies, mais aider les personnes 
          à retrouver une homéostasie vers la VIE et être présentes au monde. 
        </p>
      </div>

      <div class="card">
        <p class="description">
          C’est en cela que j'ai décidé de me former et de me spécialiser pour accompagner les personnes 
          à devenir Auteur, Acteur et Réalisateur de leur Vie.  
          Aujourd'hui thérapeute holistique et infirmière, je me suis formée à différents outils thérapeutiques 
          tels que la gestion de conflit (CNV), la Biologie des émotions, la PNL (Programmation Neuro-Linguistique), 
          la réflexologie, le CUPPING (hijama), l’ennéagramme, l’outil de soutien de l’arbre universel et d’autres thérapies brèves.
        </p>
        <p class="description">
          C’est ainsi que je propose des accompagnements holistiques, individuels et/ou collectifs en prenant en compte 
          les 4C : CŒUR, CORPS, CONSCIENCE ET CERVEAU afin de trouver un équilibre entre terre et ciel.
          De plus, je propose des formations, des ateliers, des séminaires et des conférences adaptés à vos besoins.
        </p>
      </div>
    </div>
    <h1 class="title">Témoignages</h1>

    <div class="testimonial-container">
      <div class="testimonial-card">
        <!-- <img src="https://www.le7.info/media/cache/article/uploads/photos/64101bd1e383a.jpeg" alt="User 1" class="testimonial-img"> -->
        <h2>Rania</h2>
        <p class="testimonial-text">“Je tiens à remercier Halima pour ton accompagnement durant ces trois mois. Son expertise et sa bienveillance m’ont énormément aidée. Grâce à elle, j’ai pris conscience de nombreuses choses. Nous avons travaillé en profondeur sur mon passé, ma famille, mais aussi sur moi-même, afin de mieux me connaître, d’apaiser certains blocages et d’avancer avec plus de sérénité. Cet accompagnement m’a également permis de cultiver davantage de gratitude envers le Divin. Un immense merci pour ton aide précieuse !”</p>
        <div class="stars">★★★★★</div>
      </div>

      <div class="testimonial-card">
        
        <!-- <img src="https://nospensees.fr/wp-content/uploads/2022/10/femme-yeux-fermes-main-coeur-1024x683-1-300x200.jpg" alt="User 2" class="testimonial-img"> -->
        <h2>Lina</h2>

        <p class="testimonial-text"> "Ma rencontre avec Halima a été pour moi un moment important dans ma vie. Je prenais des choses très à coeur et pensais agir en conséquence qu’à mes réactions .  Les séances en thérapie m’ont  ouvert les yeux sur bcp de chose  Le travail effectué m’a permise d’appliquer ces principes dans ma vie personnel mais aussi à impacter ma vie de couple qui parfois subissait un peu ce manque de compréhension vis à vis de moi même et non pas des autres !!! J’ai appris à me connaitre moi même et surtout a ne plus appréhender les réactions des autres en fonction de mon ressenti mais en fonction de la situation réelle et en fonction de la personne que j’avais en face de moi               Mon mari aujourd’hui sens le changement dans notre couple qui est plus serein.”</p>
        <div class="stars">★★★★★</div>
      </div>

      <div class="testimonial-card">
        <!-- <img src="https://www.psychologue.net/site/article/52697/51923/shutterstock-657236170-1_ai1.jpg" alt="User 3" class="testimonial-img"> -->
        <h2>AURÉLIE</h2>
       
        <p class="testimonial-text">“ Un accompagnement dans la bienveillance, qui m’a permis grâce à la générosité et la patience d'Halima, de ressentir enfin un calme intérieur et un apaisement dans mes relations sociales mais surtout au sein de mon foyer.Halima m’a accompagnée patiemment vers une prise de conscience de mes blessures, elle m’a également donné des outils afin d’accueillir et gérer mes émotions. Cela m’a permis d’arriver à un alignement émotionnel à l’aide de séances parfois bouleversantes…”</p>
        <div class="stars">★★★★★</div>
      </div>

      <div class="testimonial-card">
        <!-- <img src="https://www.psychologue.net/site/article/52697/51923/shutterstock-657236170-1_ai1.jpg" alt="User 3" class="testimonial-img"> -->
        <h2>Ali</h2>
        
        <p class="testimonial-text">"Halima m’a guidée en prenant compte de ma situation personnelle, à mettre des différents rituels en place et ainsi atteindre la sérénité au sein de mon foyer.Notamment en visualisant de petites vidéos spirituelles quotidiennes en famille, ce qui nous a permis de nous rapprocher…Un nouveau souffle a balayé les mauvaises      ondes pour laisser place à la sérénité, la bonne humeur et l’amour.il y a encore qlq réglages  à faire afin de stabiliser la situation et de ne pas se laisser rattraper par  le quotidien. Lais on peut carrément dire qu’une nouvelle ère commence pour nous.Je remercie Halima qui m’a aidée à travers une approche globale à me reconnecter avec moi-même, et vivre un quotidien serein avec les membres de mon foyer.”</p>
        <div class="stars">★★★★★</div>
      </div>
      
      <div class="testimonial-card">
        <!-- <img src="https://www.psychologue.net/site/article/52697/51923/shutterstock-657236170-1_ai1.jpg" alt="User 3" class="testimonial-img"> -->
        <h2>NADINE</h2>
        
        
        <p class="testimonial-text">

          "Grâce à elle, j’ai découvert la méditation, la cohérence cardiaque et des pratiques de reconnexion qui ont profondément amélioré la qualité de nos relations familiales. Une meilleure communication, fondée sur l’écoute et la compréhension des différences, nous a permis de vivre plus d’harmonie. La régulation du stress par la respiration consciente et la méditation a aussi aidé les enfants à mieux gérer leurs émotions. Avec mon mari, nous avons retrouvé une communication plus apaisée et plus de conscience dans nos prières. Ces outils ont enrichi notre pratique religieuse et renforcé nos liens. Qu’Allah la récompense pour son travail, essentiel au bien-être de notre communauté.”</p>
        <div class="stars">★★★★★</div>
      </div>
    </div>
  </div>

  <!-- Formes circulaires supplémentaires -->
  <div class="shape shape1"></div>
  <div class="shape shape2"></div>
  <div class="shape shape3"></div>
  <div class="shape shape4"></div>


</main>

<app-footer></app-footer>
