<app-header></app-header>

<main>
  <div class="content">
    <h1 class="title">Lumière Holistique</h1>

    <!-- Section vidéo -->
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/25UnKPW7Wag?si=BWnq8O5VNGsBK5kd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    
    <h1 class="title">À propos</h1>

    <!-- Section logo et texte -->
    <div class="presentation-container">
      <!-- <img src="/Halima.png" alt="Halima" class="logo"> -->

      <!-- Cartes pour chaque section de texte -->
      <div class="card">
        <p>
          Infirmière DIPLÔMÉE D'ÉTAT, j’ai travaillé pendant des années dans différentes équipes pluridisciplinaires 
          et des associations accompagnant des personnes en précarité physique, psychique et matérielle.
          Avec mon expérience du terrain, je ne voulais plus seulement penser les plaies, mais aider les personnes 
          à retrouver une homéostasie vers la VIE et être présentes au monde. 
        </p>
      </div>

      <div class="card">
        <p>
          C’est en cela que j'ai décidé de me former et de me spécialiser pour accompagner les personnes 
          à devenir Auteur, Acteur et Réalisateur de leur Vie.  
          Aujourd'hui thérapeute holistique et infirmière, je me suis formée à différents outils thérapeutiques 
          tels que la gestion de conflit (CNV), la Biologie des émotions, la PNL (Programmation Neuro-Linguistique), 
          la réflexologie, le CUPPING (hijama), l’ennéagramme, l’outil de soutien de l’arbre universel et d’autres thérapies brèves.
        </p>
      </div>

      <div class="card">
        <p>
          C’est ainsi que je propose des accompagnements holistiques, individuels et/ou collectifs en prenant en compte 
          les 4C : CŒUR, CORPS, CONSCIENCE ET CERVEAU afin de trouver un équilibre entre terre et ciel.
          De plus, je propose des formations, des ateliers, des séminaires et des conférences adaptés à vos besoins.
        </p>
      </div>

    </div>
  </div>
</main>

<app-footer></app-footer>
